@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

html {
	background-color: mix(#afb7ae, white, 95);
	body {
		background-color: mix(#afb7ae, black, 92);
		color: mix(#c2b490, white);
		width: 80%;
		min-width: 400px;
		margin: 0.5em auto;
		padding: 1em 2em;
		border-radius: 1em;
		line-height: 1.25;
		position: relative;
		font-size: 1.2em;
		font-family: "Playfair Display", serif;

		:not(a) {
			text-shadow: mix(black, mix(#c2b490, white), 80) 0.1em 0.1em 0.1em;
		}
		a {
			color: mix(#c2b490, black);
			text-shadow: mix(white, mix(#c2b490, black)) 0.06em 0.05em;
			&:hover {
				text-decoration: none;
			}
		}

		article p {
			span {
				display: block;

				&.line:nth-of-type(2n) {
					text-indent: 1em;
				}
			}

			&:hover {
				background-color: rgba(0, 30, 0, 0.053);
				padding: 0 1em;
			}
		}

		img {
			transform-origin: bottom right;
			transform: rotate(90deg) scaleX(1.3);
			position: absolute;
			right: 500px;
			bottom: 0;

			@media screen and (max-width: 1300px) {
				width: 30vw;
				transform: none;
				position: absolute;
				top: 1em;
				right: 1em;
			}
			@media screen and (min-width: 1500px) {
				width: 40vw;
				transform: none;
				position: absolute;
				top: 1em;
				right: 1em;
			}
			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}
}
